
body{
	font-family: "BentonSans","Helvetica Neue",sans-serif;
    color : #fff;
    

}
.input_container{
	 display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  margin-top : 15px;
  color: purple;
  min-width: 48px;
  text-align: center;
}
.display_error{
	background: pink;
	padding : 10px;
	border-radius : 5px;
}
.display_error p{
	display : block;
}
#page_header{
	padding : 15px;
	color : black;
	font-weight : bold;
}

#bars{
	color: #58488a;
	margin-right : 5px;
}

#stats .fa{
	color : #58488a;
	margin-left : 18px;
	font-size : 40px;
	margin-right : 6px;
}
#stats .fa:first-child{
	margin:0;
}
#stats span{
	display: inline-block;
	margin-right : 6px;
}
.sidenav .fa{
	color : #58488a;
}
